numpy
scipy
scikit-learn
torch
joblib
numba
llvmlite
decorator
six
cffi
pycparser
soundfile
librosa
h5py
torchvision
pillow
setuptools
tensorboardX
matplotlib
cycler
kiwisolver
pyparsing
torchsummary
specAugment